#tabs {
	width:980px;
	font-size:93%;
	border-bottom:2px solid #2763A5;
	line-height:normal;
  padding-bottom:2.7em;
  margin:0 auto;
	}

#tabs ul {
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
	}

#tabs li {
	display:inline;
	margin:0;
	padding:0;
	}

#tabs a {
	float:left;
	background:url("/images/tableft.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
	}

#tabs a span {
	float:left;
	display:block;
	background:url("/images/tabright.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
	color:#FFF;
	}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {float:none;}

/* End IE5-Mac hack */
#tabs a:hover span {
	color:#FFF;
	}

#tabs a:hover {
	background-position:0% -42px;
	}

#tabs a:hover span {
	background-position:100% -42px;
	}

.hidden {
  visibility:hidden;
}

.removed {
  display:none;
}

.tabbutton {
}

.tabbutton a {
	font-size:1.35em;
	float:left;
	background:url("/images/tableft.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
}

.tabbutton a span {
	float:left;
	display:block;
	background:url("/images/tabright.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
	color:#FFF;
}

.tabbutton a:hover span {
	color:#FFF;
	}

.tabbutton a:hover {
	background-position:0% -42px;
	}

.tabbutton a:hover span {
	background-position:100% -42px;
	}

.center {
	width:192px;
	margin:0 auto;
}

.changed {
  background:#FFF000;
}

.warning {
	color:#FF0000;
}

.code {
	background:#EEE;
	font-family:Consolas, Liberation Mono;
	margin:10;
}
